<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qth.dao.BuildingMapper">
  <resultMap id="BaseResultMap" type="com.qth.model.Building">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="residential_area" jdbcType="INTEGER" property="residentialArea" />
    <result column="units" jdbcType="INTEGER" property="units" />
    <result column="has_elevator" jdbcType="INTEGER" property="hasElevator" />
    <result column="has_underground" jdbcType="INTEGER" property="hasUnderground" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from building
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qth.model.Building">
    <selectKey resultType="java.lang.Integer" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into building (id, name, residential_area, 
      units, has_elevator, has_underground
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{residentialArea,jdbcType=INTEGER}, 
      #{units,jdbcType=INTEGER}, #{hasElevator,jdbcType=INTEGER}, #{hasUnderground,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qth.model.Building">
    update building
    set name = #{name,jdbcType=VARCHAR},
      residential_area = #{residentialArea,jdbcType=INTEGER},
      units = #{units,jdbcType=INTEGER},
      has_elevator = #{hasElevator,jdbcType=INTEGER},
      has_underground = #{hasUnderground,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
        b.*, ra.`name` AS residentialAreaName
    FROM
        building b
    LEFT JOIN residential_area ra ON ra.id = b.residential_area
    WHERE
    b.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, residential_area, units, has_elevator, has_underground
    from building
  </select>
  <select id="selectDataTable" resultMap="BaseResultMap" parameterType="com.qth.model.Building">
    SELECT
    b.*, ra.`name` AS residentialAreaName
    FROM
    building b
    LEFT JOIN residential_area ra ON ra.id = b.residential_area
    <where>
      <if test="id!=null">
        and b.id=#{id}
      </if>
      <if test="residentialArea!=null">
        and b.residential_area=#{residentialArea}
      </if>
      <if test="name!=null and name.length()>0">
        and b.name LIKE '%${name}%'
      </if>
    </where>
    <if test="length>0">
      limit #{start} ,#{length}
    </if>
  </select>
  <select id="selectDataTableCount" resultType="int" parameterType="com.qth.model.Building">
    select count(*)
    from building
    <where>
      <if test="id!=null">
        and id=#{id}
      </if>
      <if test="residentialArea!=null">
        and residential_area=#{residentialArea}
      </if>
      <if test="name!=null and name.length()>0">
        and name LIKE '%${name}%'
      </if>
    </where>
  </select>

  <select id="findByName" resultMap="BaseResultMap">
    SELECT
        *
    FROM
        building b
    WHERE
        b.residential_area = #{arg0}
    AND b. NAME = #{arg1}
    LIMIT 0,1
  </select>
</mapper>