<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qth.dao.ChargeBillMapper">
  <resultMap id="BaseResultMap" type="com.qth.model.ChargeBill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="house_code" jdbcType="VARCHAR" property="houseCode" />
    <result column="house_area" jdbcType="DECIMAL" property="houseArea" />
    <result column="house_unit_price" jdbcType="DECIMAL" property="houseUnitPrice" />
    <result column="house_owner" jdbcType="VARCHAR" property="houseOwner" />
    <result column="ratio" jdbcType="DECIMAL" property="ratio" />
    <result column="charge_type" jdbcType="INTEGER" property="chargeType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="handler" jdbcType="VARCHAR" property="handler" />
    <result column="actual_sum" jdbcType="DECIMAL" property="actualSum" />
    <result column="invoice_num" jdbcType="VARCHAR" property="invoiceNum" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from charge_bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qth.model.ChargeBill">
    <selectKey resultType="java.lang.Integer" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into charge_bill (id, house_code, house_area,
      house_unit_price, house_owner, ratio,
      charge_type, create_time, handler,
      actual_sum, invoice_num, state
      )
    values (#{id,jdbcType=INTEGER}, #{houseCode,jdbcType=VARCHAR}, #{houseArea,jdbcType=DECIMAL},
      #{houseUnitPrice,jdbcType=DECIMAL}, #{houseOwner,jdbcType=VARCHAR}, #{ratio,jdbcType=DECIMAL},
      #{chargeType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{handler,jdbcType=VARCHAR},
      #{actualSum,jdbcType=DECIMAL}, #{invoiceNum,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qth.model.ChargeBill">
    update charge_bill
    set house_code = #{houseCode,jdbcType=VARCHAR},
      house_area = #{houseArea,jdbcType=DECIMAL},
      house_unit_price = #{houseUnitPrice,jdbcType=DECIMAL},
      house_owner = #{houseOwner,jdbcType=VARCHAR},
      ratio = #{ratio,jdbcType=DECIMAL},
      charge_type = #{chargeType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      handler = #{handler,jdbcType=VARCHAR},
      actual_sum = #{actualSum,jdbcType=DECIMAL},
      invoice_num = #{invoiceNum,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, house_code, house_area, house_unit_price, house_owner, ratio, charge_type,
    create_time, handler, actual_sum, invoice_num, state
    from charge_bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, house_code, house_area, house_unit_price, house_owner, ratio, charge_type,
    create_time, handler, actual_sum, invoice_num, state
    from charge_bill
  </select>

  <select id="countByHouse" parameterType="int" resultType="int">
    SELECT
        count(*)
    FROM
        charge_bill cb
    INNER JOIN house h ON cb.house_code = h.`code`
    WHERE
        h.id = #{value}
    AND cb.state >= 0
  </select>
</mapper>