<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qth.dao.RegionMapper">
  <resultMap id="BaseResultMap" type="com.qth.model.Region">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from region
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qth.model.Region">
    insert into region (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qth.model.Region">
    update region
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name
    from region
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name
    from region
  </select>
  
  <select id="selectDataTable" resultMap="BaseResultMap" parameterType="com.qth.model.Region">
    select id, name
    from region
    <where>
      <if test="id!=null">
        id=#{id}
      </if>
      <if test="name!=null and name.length()>0">
        and name LIKE '%${name}%'
      </if>
    </where>
    limit #{start} ,#{length}
  </select>
  <select id="selectDataTableCount" resultType="int" parameterType="com.qth.model.Region">
    select count(*)
    from region
    <where>
      <if test="id!=null">
        id=#{id}
      </if>
      <if test="name!=null and name.length()>0">
        and name LIKE "%"#{name}"%"
      </if>
    </where>
  </select>
</mapper>