<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qth.dao.ResidentialAreaMapper">
  <resultMap id="BaseResultMap" type="com.qth.model.ResidentialArea">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="company" jdbcType="INTEGER" property="company" />
    <result column="street" jdbcType="INTEGER" property="street" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="area_business" jdbcType="DOUBLE" property="areaBusiness" />
    <result column="area_residence" jdbcType="DOUBLE" property="areaResidence" />
    <result column="area_garage" jdbcType="DOUBLE" property="areaGarage" />
    <result column="nature" jdbcType="INTEGER" property="nature" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from residential_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qth.model.ResidentialArea">
    <selectKey resultType="java.lang.Integer" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into residential_area (id, name, company, 
      street, address, area_business,
    area_residence,area_garage, nature)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{company,jdbcType=INTEGER}, 
      #{street,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{areaBusiness,jdbcType=DOUBLE},
      #{areaResidence,jdbcType=DOUBLE},#{areaGarage,jdbcType=DOUBLE}, #{nature,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qth.model.ResidentialArea">
    update residential_area
    set name = #{name,jdbcType=VARCHAR},
      company = #{company,jdbcType=INTEGER},
      street = #{street,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      area_business = #{areaBusiness,jdbcType=DOUBLE},
      area_residence = #{areaResidence,jdbcType=DOUBLE},
      area_garage = #{areaGarage,jdbcType=DOUBLE},
      nature = #{nature,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
        ra.*, s.`name` AS streetName,
        r.`name` AS regionName,r.id as region
    FROM
        residential_area ra
    LEFT JOIN street s ON s.id = ra.street
    LEFT JOIN region r ON s.region = r.id
    WHERE
    ra.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, company, street, address, area_business, area_residence,area_garage, nature
    from residential_area
  </select>
  <select id="selectDataTable" resultMap="BaseResultMap" parameterType="com.qth.model.ResidentialArea">
    SELECT
    ra.*, s.`name` AS streetName,
    r.`name` AS regionName
    FROM
    residential_area ra
    LEFT JOIN street s ON s.id = ra.street
    LEFT JOIN region r ON s.region = r.id
    <where>
      <if test="id!=null">
        and ra.id=#{id}
      </if>
      <if test="name!=null and name.length()>0">
        and ra.name LIKE '%${name}%'
      </if>
    </where>
    <if test="length>0">
      limit #{start} ,#{length}
    </if>
  </select>
  <select id="selectDataTableCount" resultType="int" parameterType="com.qth.model.ResidentialArea">
    select count(*)
    from residential_area
    <where>
      <if test="id!=null">
        id=#{id}
      </if>
      <if test="name!=null and name.length()>0">
        and name LIKE '%${name}%'
      </if>
    </where>
  </select>

  <select id="findByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from residential_area where name = #{value} LIMIT 0,1

  </select>
</mapper>