<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qth.dao.CommonMapper">
  <resultMap id="BaseResultMap" type="com.qth.model.common.Select2">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="text" />
  </resultMap>
  <select id="getAll" resultMap="BaseResultMap" parameterType="java.lang.String">
    select id, name
    from ${value}
  </select>
  <select id="getStreetByRegion" resultMap="BaseResultMap" parameterType="int">
    select id, name
    from street WHERE region=#{id}
  </select>
  <select id="getConfigSelect" resultMap="BaseResultMap" parameterType="java.lang.String">
    select type_id as id, type_name as name
    from param_config where type=#{type,jdbcType=VARCHAR}
  </select>
</mapper>