package com.qth.service;

import com.qth.model.${domain};

import java.util.List;

public interface I${domain}Service extends IBaseService<${domain}>
{
    public List<${domain}> selectAll();

    public int insert${domain}(${domain} ${domainObj});

    public int update${domain}(${domain} ${domainObj});

    public ${domain} find${domain}ById(int id);

    public int delete${domain}ById(int id);
}
