package com.qth.service.impl;

import com.qth.dao.${domain}Mapper;
import com.qth.model.${domain};
import com.qth.service.I${domain}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;

@Service
@Transactional
public class ${domain}Service extends BaseService<${domain}> implements I${domain}Service{

    @Autowired
    ${domain}Mapper ${domainObj}Mapper;

    @Override
    public List<${domain}> selectAll() {
        return ${domainObj}Mapper.selectAll();
    }

    @Override
    public int insert${domain}(${domain} ${domainObj}) {
        return ${domainObj}Mapper.insert(${domainObj});
    }

    @Override
    public int update${domain}(${domain} ${domainObj}) {
        return ${domainObj}Mapper.updateByPrimaryKey(${domainObj});
    }

    @Override
    public ${domain} find${domain}ById(int id) {
        return ${domainObj}Mapper.selectByPrimaryKey(id);
    }

    @Override
    public int delete${domain}ById(int id) {
        return ${domainObj}Mapper.deleteByPrimaryKey(id);
    }
}
